.contact3-wrapper {
  display: contents;
}
.contact3-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact3-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact3-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact3-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact3-row {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.contact3-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact3-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact3-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.contact3-text12 {
  align-self: stretch;
  text-align: center;
}
.contact3-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact3-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact3-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.contact3-text14 {
  align-self: stretch;
  text-align: center;
}
.contactanos-fragment1 {
  display: contents;
}
.contactanos-text14 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment2 {
  display: contents;
}
.contactanos-text15 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment3 {
  display: contents;
}
.contactanos-text16 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment4 {
  display: contents;
}
.contactanos-text17 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment5 {
  display: contents;
}
.contactanos-text18 {
  display: inline-block;
}
.contactanos-fragment6 {
  display: contents;
}
.contactanos-text19 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 767px) {
  .contact3-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .contact3-row {
    align-items: stretch;
  }
}

.contactanos-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contactanos-navbar {
  align-items: center;
  flex-direction: column;
}
.contactanos-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactanos-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactanos-image1 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.contactanos-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.contactanos-links1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contactanos-text11 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contactanos-navlink1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contactanos-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contactanos-navlink3 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contactanos-navlink4 {
  text-decoration: none;
}
.contactanos-burger-menu {
  display: none;
}
.contactanos-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contactanos-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contactanos-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contactanos-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contactanos-logo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactanos-image2 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.contactanos-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactanos-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contactanos-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contactanos-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contactanos-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contactanos-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.contactanos-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contactanos-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contactanos-navlink8 {
  text-decoration: none;
}
.contactanos-fragment1 {
  display: contents;
}
.contactanos-text14 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment2 {
  display: contents;
}
.contactanos-text15 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment3 {
  display: contents;
}
.contactanos-text16 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment4 {
  display: contents;
}
.contactanos-text17 {
  display: inline-block;
  text-align: center;
}
.contactanos-fragment5 {
  display: contents;
}
.contactanos-text18 {
  display: inline-block;
}
.contactanos-fragment6 {
  display: contents;
}
.contactanos-text19 {
  display: inline-block;
  text-align: center;
}
.contactanos-image3 {
  width: 100%;
  height: 479px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .contactanos-desktop-menu {
    display: none;
  }
  .contactanos-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .contactanos-links1 {
    display: none;
  }
  .contactanos-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .contactanos-navlink5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contactanos-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contactanos-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contactanos-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .contactanos-image3 {
    height: 365px;
  }
}
@media(max-width: 479px) {
  .contactanos-mobile-menu {
    padding: 16px;
  }
  .contactanos-image3 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
